	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 conteudo fill-clone">
				<div ui-view="content">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					    	<div class="but-all">
					            <a routerLink ="/gerenciador/marcador" class="hvr-sweep-to-bottom" >
						            <i class="fa fa-thumb-tack fa-4x icon-but">
						            </i>
						            <span class="text-but">
						            			MARCADOR
					            	</span>
					            </a>
					     	</div>
						</div>
					    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" >
					   		<div class="but-all">
					            <a routerLink ="/gerenciador/categoria" class="hvr-sweep-to-bottom" >
					            	<i class="fa fa-list-ol fa-4x icon-but">
					            		
					            	</i>
					            	<span class="text-but">
					            				TIPO DE CATEGORIA
					            	</span>
					            </a>
					        </div>
					   	</div>
					    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					   		<div class="but-all">
					            <a routerLink ="/gerenciador/vinculo" class="hvr-sweep-to-bottom" >
					            <i class="fa fa-paper-plane-o fa-4x icon-but">
					            </i>
					            <span class="text-but">
					            				CADASTRAR USUARIO
					            </span>
					            </a>
					         </div>
					 	</div>
					</div>
				</div>
			</div>		

		