
<div class="container-content">
    <div class="row-fluid">
          <div class="row-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-header-down fixed-header">
              <span class="btn-menu-mobile" onclick="exibirMenuMobile()"><i class='fa fa-reorder'></i></span>
              <span class="float-left"><a href="#/home" onclick="scrollToTop('#max-page')"> <img src="../../../assets/gerenciador/img/header_logo_square.png" alt="Logo Prefeitura Municipal de Parnamirim" width="25" align="middle" class="logo-sistema"> <span class="nome-sistema">GEO PARNAMIRIM</span></a></span>
              
          <div class="popper-content hide">
            <ul class="list-group">
                <li class="list-group-item" >
              </li>
              
              </ul>
          </div>
          <span class="navbar-item-right text-user"> </span> 
              <span class="navbar-item-right"><a href="#/login" class="sair"><i class="fa fa-sign-out"></i> Sair</a></span> 
            </div>
        </div>
        </div>
    <div class="row-fluid">
      <div class='hidden-lg hidden-md col-sm-12 col-xs-12' id='menu-mobile'>
          <ul class="nav" id='menu-mobile-ul'>
                <li><a href="#!/gerenciador/menu" onclick="exibirMenu(false)">Início</a></li>
                <li><a href="#!/gerenciador/marcador" onclick="exibirMenu(false)">Marcador</a></li>
                <li><a href="#!/gerenciador/categoria " onclick="exibirMenu(false)">Categoria</a></li>
                <li><a href="#!/gerenciador/usuario" onclick="exibirMenu(false)">Usuario</a></li>  
            </ul>  
        </div>
      </div>
      <div class="row-fluid container-content">
      <div class="col-lg-2 col-md-2 hidden-xs hidden-sm fill" id='menu' style = 'height:364px'>
          <ul class="nav fixed-menu">
                <li><a routerLink="menu">Início</a></li>
                <li><a routerLink="marcador">Marcador</a></li>
                <li><a routerLink="categoria">Categoria </a></li>
                <li><a routerLink="vinculo">Usuario</a></li>  
            </ul>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 conteudo fill-clone">
        <div >
      <!-- RECEBE AS PÁGINAS DEFINIDAS NAS ROTAS -->

        <router-outlet></router-outlet>

    <!-- RECEBE AS PÁGINAS DEFINIDAS NAS ROTAS -->
        </div>
      </div>    
    </div>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.popper').popover({
        html: true,
        content: function () {
            return $(this).next('.popper-content').html();
        }
    }).on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        }, 100);
    }); 
  });
  </script>

<footer class="footer footer-page">
    <div class="row">
      <div id="logo-rodape" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
              <a href="http://gcti.parnamirim.rn.gov.br" target="_blank"><span class='rodape-p hidden-xs'><img src="../../../assets/gerenciador/img/logo-gcti.png" alt="Logo do GCTI" width="42" align="middle">Grupo de Ciência e Tecnologia da Informação</span><span class='rodape-p hidden-lg hidden-md hidden-sm'><img src="../../../assets/gerenciador/img/logo-gcti.png" class='img-responsive foot-img'></span></a>
          </div>
  
          <div id="logo-rodape" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <a href="http://www.parnamirim.rn.gov.br" target="_blank" class="float-right"><span class='rodape-p hidden-xs'><img src="../../../assets/gerenciador/img/header_logo_square.png" alt="Logo da Prefeitura de Parnamirim" width="22" align="middle">© 2016 - Prefeitura Municipal de Parnamirim</span><span id="img-hight-rod" class='rodape-p hidden-lg hidden-md hidden-sm'><img id="foot-img-right" src="../../../assets/gerenciador/img/header_logo_square.png" class='img-responsive foot-img' align="middle">Versão 1.0 </span></a>
          </div>
    </div>
 </footer>

