html{
  height: 100%;
}
body{
  height: 100%;
  background-color: #ffffff;    
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  overflow-x: hidden;
}
/** INÍCIO MENU **/
a.sub-menu{
    display: block;
    padding: 10px 20px 10px 30px;
    clear: both;
    font-weight: normal;
    line-height: 1.4;
    color: #fff;
    white-space: nowrap;
}
a.sub-menu:hover{
    color: #fff;
    text-decoration: none;
  border-left: 2px solid #22DA54;
}
.navbar-item-right{
  padding-left: 3px;
  padding-right: 3px;
}
.sub-header-down {
  border-bottom: 1px solid #ffffff;
  background: #183B78;
  padding: 5px;
    padding-top: 1px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  font-size: 16px;
  vertical-align: middle;
  padding-top: 10px;
}
.btn-menu-mobile {
  color: #FFF;
  text-align: left;
  float: left;    
  margin-right: 10px;
    margin-top: 2px;
  
}
.btn-menu-mobile:hover{
  cursor: pointer;
  color: #008cba;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 376px;
  padding: 1px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.4;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  background-color: #26385a;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #333333;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover-content{
  max-height: 120px;
    overflow-y: scroll;
}
.popover-content > .list-group > .list-group-item{
  background-color: transparent !important;
    border: 1px solid transparent !important;
}
.popover-content > .list-group > .list-group-item > h5 > a > span:hover{
  background-color: #0b1c38 !important;
  cursor: pointer;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 15px;
  background-color: #0e2348;
  border-bottom: 1px solid #008cba;
  border-radius: -1 -1 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #000000;
  border-top-color: rgba(0, 0, 0, 0.05);
  bottom: -11px;
}
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #333333;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #000000;
  border-right-color: rgba(0, 0, 0, 0.05);
}
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #333333;
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #000000;
  border-bottom-color: rgba(0, 0, 0, 0.05);
  top: -10px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #0e2348;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #000000;
  border-left-color: rgba(0, 0, 0, 0.05);
}
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #333333;
  bottom: -10px;
}
.sair {
  text-decoration: none !important;
  color: #ffffff !important;
}
.sair:hover{
  color: #008cba !important;
  text-decoration: underline;
  cursor: pointer;
}
#menu {
  background: #183B78;
  padding-left: 0;
  padding-right: 0;
}
#menu-mobile {
  background: #0e2348;
  display: none;
  padding: 0px;
}
#menu-mobile-ul{
    z-index:100; 
  height: auto;
  padding: 0px !important;
}
nav>li a:hover, nav>li a:visited {
  background: #0b1c38 !important;
}
.dropdown>a:focus {
  color: #ecf0f1;
}
.dropdown>a:visited, .dropdown>a:focus {
  background: #0b1c38 !important;
}
.dropdown-menu>li.disabled>a {
  color: #0b1c38 !important;
}
.nav>li.active {
  background: #0b1c38 !important;
}
.nav .open>a:active {
  background: #0b1c38 !important;
}
.nav .open>a:focus {
  background: #0b1c38 !important;
}
.nav > li > a >i {
  margin-right: 5px;
}
.nav > li.active > a {
  border-left: 3px solid #2ecc71;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display:block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  transition: background 0.2s ease-in !important;
  color: #ecf0f1;
  font-weight: bold;
  font-size: 14px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #183b78 !important;
  border-left: 2px solid #22DA54;
}
.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #0e2348;
  border-color: #008cba;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #071124;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
              width: 100%;
}
.drowpdown:hover+.dropdown-menu {
  display: block;
}
.nav>li a:hover, nav>li a:visited {
  background: #0b1c38 !important;
}
.dropdown>a:focus {
  color: #ecf0f1;
}
.dropdown>a:visited, .dropdown>a:focus {
  background: #0b1c38 !important;
}
.dropdown-menu>li.disabled>a {
  color: #0b1c38 !important;
}
.nav>li.active {
  background: #0b1c38 !important;
}
.nav .open>a:active {
  background: #0b1c38 !important;
}
.nav .open>a:focus {
  background: #0b1c38 !important;
}
.drowpdown:hover+.dropdown-menu {
  display: block;
}
.dropdown-menu>li>a {
  color: #ecf0f1 !important;
  font-weight: bold !important;
  font-size: 14px;
}
.dropdown-menu>li>a:hover{
  background: #0e2348 !important;
  border-left: 2px solid #22DA54;
}
@media screen and (min-width: 990px) {
  .btn-menu-mobile {
    display: none;
  }
  .btn-inicial>.fa-4x {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  #menu>ul {
    position: fixed !important;
    display: none;
  }
  #menu-mobile-ul>li>a {
    font-size: 15px;
  }
  table {
    font-size: 15px !important;
  }
  .btn, .form-control {
    font-size: 15px !important;
  }
  .page-header, .titulo-pagina {
      font-size: 26px;
  }
}
.header-fixed{
  position: fixed;
    z-index: 1030;
  background-color: #0e2348;
  border-bottom: 2px solid #008cba;
}
.menu-fixed{
  top: 30px;
  position: fixed;
    z-index: 1030;
    padding-right: 0px !important;
}
.logo-sistema{
    margin-top: -4px;
}
.nome-sistema{
  cursor: pointer;
  text-decoration: none !important;
    color: #fff !important;
    font-weight: 900;
}
.nome-sistema:hover{
    color: #008cba !important;
}
ul{
  list-style: none;
    padding: 0px;
}
/** FIM MENU **/
/** INÍCIO LABEL **/
.label.label-primary {
    text-transform: uppercase;
    font-size: 14px;
}
.label {
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0;
    font-weight: 300;
}
.label-primary {
  background-color: #008cba;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #006687;
}
label, .control-label, .help-block, .checkbox, .radio {
    font-size: 12px;
    font-weight: normal;
}
/** FIM LABEL **/
/** INÍCIO LIST GROUP**/
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.list-group-item {
    padding: 0px;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
/** FIM LIST GROUP **/
/** Custom angular notifications icon style **/
.angular-notifications-icon {
    font-size: 8px !important;
    right: -4px !important;
    top: -4px !important;
    border-radius: 50% !important;
    text-align: center !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-top: 0px !important;
    min-width: 12px !important;
    height: 12px !important;
    background: #22da54 !important;
    color: white !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: pointer !important;
}
.fa.fa-envelope-o.envelope:hover{
  color: #008cba;
  cursor: pointer;
}
/** Navbar name user **/
.text-user{
  padding-left: 10px;
  padding-right: 10px;
}
/** Custom scroll style **/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #b9c4d6;
}
::-webkit-scrollbar-thumb {
    background-color: #173469;
}
/** BTN **/
.btn {
    padding: 8px 12px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.4;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold !important;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333333;
  background-color: #e7e7e7;
  border-color: #cccccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333333;
  background-color: #cecece;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333333;
  background-color: #cecece;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #cecece;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333333;
  background-color: #bcbcbc;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #e7e7e7;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #e7e7e7;
  background-color: #333333;
}
.btn-primary {
  background: #183B78 !important;
  color: #FFF !important;
  border: 1px solid #0f254a !important;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #006687;
  border-color: #001921;
}
.btn-primary:hover {
  background: #0f254a !important;
  color: #CCC !important;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #006687;
  border-color: #004b63;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #004b63;
  border-color: #001921;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #008cba;
  border-color: #0079a1;
}
.btn-primary .badge {
  color: #008cba;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #43ac6a;
  border-color: #3c9a5f;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #358753;
  border-color: #183e26;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #358753;
  border-color: #2b6e44;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #358753;
  border-color: #2b6e44;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #2b6e44;
  border-color: #183e26;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #43ac6a;
  border-color: #3c9a5f;
}
.btn-success .badge {
  color: #43ac6a;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #e99002;
  border-color: #d08002;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #b67102;
  border-color: #513201;
}
.btn-warning:hover {
  color: #ffffff;
  background-color: #b67102;
  border-color: #935b01;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #b67102;
  border-color: #935b01;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #ffffff;
  background-color: #935b01;
  border-color: #513201;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #e99002;
  border-color: #d08002;
}
.btn-warning .badge {
  color: #e99002;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #f04124;
  border-color: #ea2f10;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #d32a0e;
  border-color: #731708;
}
.btn-danger:hover {
  color: #ffffff;
  background-color: #d32a0e;
  border-color: #b1240c;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d32a0e;
  border-color: #b1240c;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #ffffff;
  background-color: #b1240c;
  border-color: #731708;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #f04124;
  border-color: #ea2f10;
}
.btn-danger .badge {
  color: #f04124;
  background-color: #ffffff;
}
.btn-link {
  color: #008cba;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #008cba;
  text-decoration: none;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #999999;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 16px 20px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 0;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 4px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
/** BTN FILE **/
.btn-file {
  cursor: pointer !important;
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  cursor: pointer !important;
}
/** FORM CONTROL **/
.form-control {
    display: block;
    width: 100%;
    height: 39px;
    font-size: 15px;
    line-height: 1.4;
    color: rgb(111, 111, 111);
    background-color: rgb(255, 255, 255);
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset;
    padding: 8px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 0px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/** ALERT **/
.alert-info {
    background-color: rgb(91, 192, 222);
    color: rgb(255, 255, 255);
    border-color: rgb(61, 181, 216);
}
.alert {
    font-size: 14px;
    font-weight: 300;
    box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
  border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 0px;
    padding: 10px;
    margin: 8px 0px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #43ac6a;
  border-color: #3c9a5f;
  color: #ffffff;
}
.alert-success hr {
  border-top-color: #358753;
}
.alert-success .alert-link {
  color: #e6e6e6;
}
.alert-info {
  background-color: #5bc0de;
  border-color: #3db5d8;
  color: #ffffff;
}
.alert-info hr {
  border-top-color: #2aabd2;
}
.alert-info .alert-link {
  color: #e6e6e6;
}
.alert-warning {
  background-color: #e99002;
  border-color: #d08002;
  color: #ffffff;
}
.alert-warning hr {
  border-top-color: #b67102;
}
.alert-warning .alert-link {
  color: #e6e6e6;
}
.alert-danger {
  background-color: #f04124;
  border-color: #ea2f10;
  color: #ffffff;
}
.alert-danger hr {
  border-top-color: #d32a0e;
}
.alert-danger .alert-link {
  color: #e6e6e6;
}
/** PANEL **/
.panel {
    margin-bottom: 21px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 0px;
}
.panel-default {
    border-color: #ddd;
}
.panel-heading, .panel-footer {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}
.breadcrumb {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    border-radius: 0px;
  margin-top: 5px !important;
}
/** TABLE **/
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 21px;
}
table {
    font-size: 14px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1.4;
    padding: 2px;
    border-top: 1px solid rgb(221, 221, 221);
    vertical-align: middle;
}
.table td, .table th{
  text-align: center;
}
/** HOME **/
.icon-but{
  width: 100%;
    text-align: center;
    text-transform: uppercase;
    display:block;
    padding: 14px;
    background-color: #224B96;
     -webkit-transition: all .3s linear; 
    -o-transition: all .3s linear;
    transition: all .3s linear;
    color: #fff;
    font-size: 50px;
    font-size: 5em !important;
    height: 110px;
}
.text-but{
  display:block;
  text-align:center;
  padding: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background: #000;
    width: 100%;
    background: #183B78;
    width: 100%;
}
.hvr-sweep-to-bottom:hover{
 font-size: 1.12em !important;
}
.text-but:hover{
    color: #FFF !important;
    background: #06193A;
}

.but-all:hover, .but-all:active {

    color: #FFF !important;
    background: #06193A;
}
.but-all, .but-all:link, .but-all:visited {
    color: #FFFFFF;
    transition: 0.2s ease-in;
    background-color: #183b78;
    
    margin: 20px 0 20px 0;
    padding: 0px !important;
}

.but-all a:hover{
  text-decoration: none;
}
/** LOGIN **/
.nome-sistema-login{
  font-size: 20px;
}
.login-page {
    background-color: #183b78;
    min-height: 100%;
    display: flex;
    align-items: center;
}
.forms-login {
    max-width: 536px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form.jumbotron {
    padding: 30px 60px 40px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 30px -5px rgba(0,0,0,0.75);
}
.jumbotron h4 {
    text-align: center;
    font-weight: bold;
    color: rgb(24, 59, 120);
}
img.logo {
    width: 100px;
    display: block;
    margin: 0px auto;
}
img {
    vertical-align: middle;
}
img {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
/** FOOTER **/
.footer-page {
    position: fixed;
    width: 100%;
}
.footer {
    height: auto;
    color: #FFFFFF;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    border-top: 1px solid rgb(13, 45, 101);
    background: rgb(24, 59, 120);
    padding: 2px;
}
a > .rodape-p {
    color: rgb(255, 255, 255);
}
.rodape-p > img{
  padding-right: 2px;
}
/** GIF LOADING**/
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
    background: none;
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 10000000;
    background-color: rgba(0, 0, 0, 0.42);
}

.uil-ring-css > div.loader {
    position: fixed;
    display: block;
    width: 120px;
    height: 120px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    box-shadow: 0 2px 0 0 #183B78;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}

.uil-ring-css > .loading-content {
    width: 120px;
    position: fixed;
    top: calc(50% - 76px);
    left: calc(50% - 79px);
    transform: scale(0.8);
}

.uil-ring-css > .loading-content > span {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
}
/** LINKS **/
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.link-without-decoration, .link-without-decoration:hover, .link-without-decoration:-webkit-any-link{
  text-decoration: none !important;
  color: #fff !important;
}
/*checkbox style*/
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 19px;
      height: 19px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 1px;
      padding-top: 1px;
      font-size: 12px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }
  /** Generic **/
.bold_text{
  font-weight: bold;
}
.toUppercase{
  text-transform: uppercase;
}
.uppercase_text{
  text-transform: uppercase;
}
.display_none{
  display: none;
}
.display_block{
  display: block;
}
.float-right{
  float:right !important;
}
.float-left{
  float: left !important;
}
.container-content {
    height:100%;
}
.fill{
    height:100%;
    min-height:100%;
}
.events-click-none{
  opacity: 0.5;
}
.events-click-none > span{
  cursor: inherit !important;
}
.icon-style{
    font-size: 20px;
    color: #008cba;
}
hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #3db5d8, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #3db5d8, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #3db5d8, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #3db5d8, #f0f0f0); 
  text-align: center;
}
.fa-edit-color{
  color: #006282;
  cursor: pointer;
}
.fa-edit-color:hover{
  color: #008cba;
}
.fa-remove-color{
  color: #ff0000;
  cursor: pointer;
}
.fa-remove-color:hover{
  color: #ff7f7f;
}
.cursor-pointer{
  cursor: pointer !important;
}
/** MODAL **/
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0s ease-out;
  -o-transition: -o-transform 0s ease-out;
  transition: transform 0s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #183B78;
  color: #FFF;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.4;
  font-weight: bold !important;

}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.modal-footer{
    padding: 5px;
    text-align: center;
}
.modal-backdrop
{
    opacity:0 !important;
}
.modal-open .modal{
    overflow-x: hidden;
}
.modal-body{
  padding: 5px;
}
/** NG VIEW ANIMATION **/
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  -webkit-transition:all .5s ease-in-out !important;
    -moz-transition:all .5s ease-in-out !important;
    -o-transition:all .5s ease-in-out !important;
    transition:all .5s ease-in-out !important;
}

[ui-view].ng-enter {
  opacity: 0 !important;
  -webkit-transform:scale3d(0.5, 0.5, 0.5) !important;
  -moz-transform:scale3d(0.5, 0.5, 0.5) !important;
  transform:scale3d(0.5, 0.5, 0.5) !important;
}

[ui-view].ng-enter-active {
  opacity: 1 !important;
  -webkit-transform:scale3d(1, 1, 1) !important;
  -moz-transform:scale3d(1, 1, 1) !important;
  transform:scale3d(1, 1, 1) !important;
}

[ui-view].ng-leave {
  opacity: 1 !important; 
  -webkit-transform:translate3d(0, 0, 0) !important;
  -moz-transform:translate3d(0, 0, 0) !important;
  transform:translate3d(0, 0, 0) !important;
}

[ui-view].ng-leave-active {
  opacity: 0 !important;
  -webkit-transform:translate3d(100px, 0, 0) !important;
  -moz-transform:translate3d(100px, 0, 0) !important;
  transform:translate3d(100px, 0, 0) !important;
}
/** Datepicker **/
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
  color: #183B78;
  background-color: #183B78;  
}

md-content.md-default-theme, md-content{
  background-color: #ffffff;
}

md-progress-linear.md-default-theme.md-warn .md-bar, md-progress-linear.md-warn .md-bar{
    background-color: #183B78;
}

md-progress-linear.md-default-theme[md-mode=buffer].md-warn .md-bar1, md-progress-linear[md-mode=buffer].md-warn .md-bar1{
  background-color: #8b9dbb;
}

md-progress-linear.md-default-theme[md-mode=buffer].md-warn .md-dashed:before, md-progress-linear[md-mode=buffer].md-warn .md-dashed:before {
    background: radial-gradient(#8b9dbb 0%, #8b9dbb 16%, transparent 42%);
}

.md-datepicker-input-container{
  width: 90%;
  height: 39px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.4;
  color: #6f6f6f;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin: 0px;
}

.md-button.md-icon-button{
  width: 10%;
  margin: 0px;
}

.md-datepicker-triangle-button.md-button.md-icon-button{
  display: none;
}

.cursor-none{
  cursor: inherit !important;
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #0D2D65;
}

.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #183b78;
    color: rgba(255,255,255,0.87);
    border-color: transparent;
}

.md-calendar-date:not(.md-disabled) .md-calendar-date-selection-indicator:hover{
  background: #7489ae;
  color: #FFFFFF;
}

.md-default-theme .md-calendar-day-header, .md-calendar-day-header {
    background: #183b78;
    color: #FFFFFF;
}
.md-datepicker-is-showing{
    top: 0px !important; 
}

/** Custom checkbox form style **/
.checkbox-custom label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox-custom .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
    cursor: pointer;
    font-size: 1.5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox-custom .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox-custom label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox-custom label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox-custom label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox-custom label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}