.fechar_ponto{
	background-color: #782012 !important;
}
.fechar_ponto:hover{
	background-color: #c64832 !important;
}
.abrir_ponto{
	background: #215635 !important;
}
.abrir_ponto:hover{
	background-color: #358954 !important;
}
.btn-mark.abrir_ponto:hover .icon-mark{
	color: #22da54;
}
.btn-mark.fechar_ponto:hover .icon-mark{
	color: #f04124;
}
.ngpontoeletronico {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 5px;
    box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
}
.ngpontoeletronico > div {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: transparent;
}
.ngpontoeletronico span {
    background-color: #5bc0de;
    display: block;
    width: 100%;
    height: 100%;
}
.ngpontoeletronico.hour .ngdisplayleft.hour span, .ngpontoeletronico.min .ngdisplayleft.min span, .ngpontoeletronico.sec .ngdisplayleft.sec span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.ngpontoeletronico.hour .ngdisplayright.hour span, .ngpontoeletronico.min .ngdisplayright.min span, .ngpontoeletronico.sec .ngdisplayright.sec span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.ngpontoeletronico.hour:before,
.ngpontoeletronico.hour:after,
.ngpontoeletronico.min:before,
.ngpontoeletronico.min:after,
.ngpontoeletronico.sec:before,
.ngpontoeletronico.sec:after {
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.ngpontoeletronico.hour:before, .ngpontoeletronico.min:before, .ngpontoeletronico.sec:before {
    background-color: #FFFFFF;
   	content: attr(data-percent);
    width: 90%;
    height: 90%;
    z-index: 100;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
.ngpontoeletronico.hour:after, .ngpontoeletronico.min:after, .ngpontoeletronico.sec:after{
    font-weight: bold;
    z-index: 200;
    font-size: 0.5em;
    padding-top: 55%;
}
.ngpontoeletronico.hour:after {
    content: "Hora(s)";
}
.ngpontoeletronico.min:after {
    content: "Minuto(s)";
}
.ngpontoeletronico.sec:after {
    content: "Segundo(s)";
}

.container-clock{
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-clock{
	color: #183b78;
	font-weight: bold;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.ngpontoeletronico{
		width: 60px;
		height: 60px;
		font-size: 12px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.ngpontoeletronico{
		width: 70px;
		height: 70px;
		font-size: 14px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.ngpontoeletronico{
		width: 150px;
		height: 150px;
		font-size: 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.ngpontoeletronico{
		width: 200px;
		height: 200px;
		font-size: 40px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.ngpontoeletronico{
		width: 220px;
		height: 220px;
		font-size: 45px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.ngpontoeletronico{
		width: 220px;
		height: 220px;
		font-size: 45px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.ngpontoeletronico{
		width: 200px;
		height: 200px;
		font-size: 40px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.ngpontoeletronico{
		width: 150px;
		height: 150px;
		font-size: 30px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.ngpontoeletronico{
		width: 80px;
		height: 80px;
		font-size: 16px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.ngpontoeletronico{
		width: 70px;
		height: 70px;
		font-size: 14px;
	}
}