.btn-mark{
	border-radius: 50%;
    width: 90px;
    height: 90px;
    outline: none !important;
}
.size-icon-mark{
	font-size: 20px !important;
	width: 48px !important;
	height: 48px !important;
}
.icon-mark{
	font-size: 48px !important;
}
.day_details a {
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.day_details a:hover {
  z-index: 1;
  color: #5bc0de;
}
.day_details a span { 
 	display:none;
  	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
  	font-size: 16px;
  	text-decoration: none;
	position: absolute; 
	left:0; 
	width: 250px;
	padding: 6px 0; 
	text-align:center;
	z-index: 100;
	border-radius: 5px;
	transform: scale(1.1,1.1) rotateZ(-5deg);
	-moz-transform: scale(1.1,1.1) rotateZ(-5deg);
	-webkit-transform: scale(1.1,1.1) rotateZ(-5deg);
	-o-transform: scale(1.1,1.1) rotateZ(-5deg);
	line-height: 1;
	text-align:center;
	border:1px solid #E8E8E8;  
	border-top:2px solid #fdfd86;
	font-family:'Reenie Beanie';        
	border-bottom-right-radius: 20px 5px;
   	background: #ffff88; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
	background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.day_details a:hover span {
  display: block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}