.tabela_folha_ponto{
	min-width: 100%;
	font-size: 16px;
	color: #000000;
	font-weight: 300;
	box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12);
}

.img_card{
	width: 20%;
}

.th_folha{
	text-align: center !important; 
	background-color: #183B78; 
	color: #fff;
	opacity: 1 !important; 
}

md-card md-card-title md-card-title-media .md-media-lg {
    height: 52px;
    width: 52px;
}

md-card md-card-title md-card-title-media {
    margin-top: 10%;
  	margin-right: -10px;
}

md-card md-card-title md-card-title-text{
	margin-top: -10px;
  	margin-right: 0px;
	margin-left: -10px;
}

.linha_feriado{
	background-color: #c9b5cc;
}

.linha_falta{
	background-color: #FFCCCC;
}

.linha_falta_justificada{
	background-color: #bfc5cf;
}

.linha_cumpriu_mais{
	background-color: #CCE5CC;
}

.linha_cumpriu_menos{
	background-color: #FFFFCC;
}

.linha_final_semana{
	background-color: #def2f8;
}

.column_day{
	color: #fff;
	text-decoration: none !important;
}

.footer_folha{
	text-align: center; 
	background-color: #fff; 
	color: #fff; 
	height: 3px;
}

.card-relatorio{
	padding-left: 0px !important;
	padding-right: 0px !important
}

md-card{
	margin: 0px !important;
	margin-right: 8px !important;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	md-card-title-media img{
		width: 22px !important;
		height: 22px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 12px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 4px !important;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	md-card-title-media img{
		width: 30px !important;
		height: 30px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 14px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 6px !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	md-card-title-media img{
		width: 38px !important;
		height: 38px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 16px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 8px !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	md-card-title-media img{
		width: 42px !important;
		height: 42px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 14px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 12px !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	md-card-title-media img{
		width: 52px !important;
		height: 52px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 20px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 14px !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	md-card-title-media img{
		width: 52px !important;
		height: 52px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 20px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 14px !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	md-card-title-media img{
		width: 42px !important;
		height: 42px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 14px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 12px !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	md-card-title-media img{
		width: 38px !important;
		height: 38px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 16px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 8px !important;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	md-card-title-media img{
		width: 30px !important;
		height: 30px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 14px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 6px !important;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	md-card-title-media img{
		width: 22px !important;
		height: 22px !important;
	}
	
	md-card md-card-title .md-headline{
		font-size: 12px !important;
	}
	
	md-card md-card-title .md-subhead{
		font-size: 4px !important;
	}
}