#all{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	z-index: 1;
}

#cabecalho{
	position: absolute;
	width: 100%;
	height: 30px;
	padding: 0 5px;
	background-color: #183b78;
	z-index: 3;
	top: 0;
	-webkit-box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
}

#cabecalho > *{
	display: inline-block;
}

#cabecalho > .title{
	color: #183b78;
	height: 30px;
	margin: 0;
	line-height: 2.5em;
	font-weight: bold;
	display: inline-block;
	padding: 0 	15px;
	background-color: #ffffff;
}

#cabecalho .logo-wrapper{
	height: 100%;
	padding: 3px 5px;
	vertical-align: top;
}

#cabecalho .logo-wrapper .logo{
	height: 100%;
}

#main{
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 30px 0;	
	background-color: #f3f3f3;
	z-index: 1;
}

/*= MENU ===================================================*/

#menu{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	position: absolute;
	background-color: transparent;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

#menu.on .bloco-categoria{
	opacity: 0.3;
}

#menu:hover .bloco-categoria{
	opacity: 0.3;
}

#menu.menu-horizontal{
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	-webkit-box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
}

#menu.menu-horizontal.top{
	top: 0;
	margin-top: 33px;
}

#menu.menu-horizontal.bottom{
	bottom: 0;
	margin-bottom: 33px;
}

#menu.menu-vertical{
    -webkit-align-content: space-between;
    align-content: space-between;
    top: 0;
	width: 170px;
	height: 100%;
	padding: 30px 0;
	margin-bottom: 30px;
	-webkit-box-shadow: -10px 0px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 0px 5px -10px rgba(0,0,0,0.75);
	box-shadow: -10px 0px 5px -10px rgba(0,0,0,0.75);
}

#menu.menu-vertical.right{
	right: 0;
}

#menu.menu-vertical.left{
	left: 0;
}

#menu .bloco-categoria{
	position: relative;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	cursor: pointer;
	text-align: center;
	padding: 15px;
	z-index: 4;
}

#menu:hover .bloco-categoria:hover{
	opacity: 1;
}

#menu .bloco-categoria img{
	height: 50%;
}

#menu .bloco-categoria label{
	display: block;
	cursor: pointer;
	text-align: center;
	margin-bottom: 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	height: 50%;
	line-height: 3.5em;
}

#menu.menu-horizontal .bloco-categoria{
	width: 12.35%;
	max-width: 100%;
	height: 100%;
	margin-right: 1px;
	display: inline-block;
	float: left;
}

#menu.menu-vertical .bloco-categoria{
	width: 100%;
	height: 14.15%;
	margin-bottom: 1px;
	display: block;
}

#menu.menu-horizontal .bloco-categoria:last-child{
	margin-right: 0;
}

#menu.menu-vertical .bloco-categoria:last-child{
	margin-bottom: 0;
}

#menu.menu-horizontal .bloco-categoria.on:after{
	opacity: 1;
	bottom: -10px;
}

#menu.menu-vertical.right .bloco-categoria.on:after,
#menu.menu-vertical.left .bloco-categoria.on:after{
	opacity: 1;
}

#menu.menu-vertical.right .bloco-categoria.on:after{
	left: -10px;
}
#menu.menu-vertical.left .bloco-categoria.on:after{
	right: 10px;
}

#menu .bloco-categoria .menu-categoria{
	display: none;
	opacity: 0;
	position: fixed;
	background-color: currentColor;	
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	z-index: 4;
	padding: 15px 30px;
	text-align: left;
	cursor: default;
}

#menu .bloco-categoria.on{
	opacity: 1;
}

#menu .bloco-categoria.on .menu-categoria{
	opacity: 1;
	display: block;
}

#menu.menu-horizontal .bloco-categoria .menu-categoria{
	left: 0;
	width: 100%;
	height: auto;
}

#menu.menu-horizontal.top .bloco-categoria .menu-categoria{
	top: 133px;
	-webkit-box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 5px -10px rgba(0,0,0,0.75);
}

#menu.menu-horizontal.bottom .bloco-categoria .menu-categoria{
	bottom: 133px;
	-webkit-box-shadow: 0px -10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -10px 5px -10px rgba(0,0,0,0.75);
	box-shadow: 0px -10px 5px -10px rgba(0,0,0,0.75);
}

#menu.menu-vertical .bloco-categoria .menu-categoria{
	top: 30px;
	width: 230px;
	height: 100%;
}

#menu.menu-vertical.right .bloco-categoria .menu-categoria{
	right: 170px;
	-webkit-box-shadow: -10px 0px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 0px 5px -10px rgba(0,0,0,0.75);
	box-shadow: -10px 0px 5px -10px rgba(0,0,0,0.75);
}

#menu.menu-vertical.left .bloco-categoria .menu-categoria{
	left: 170px;
	-webkit-box-shadow: 10px 0px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 5px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 0px 5px -10px rgba(0,0,0,0.75);
}

#menu .bloco-categoria:hover .menu-categoria{
	opacity: 1;
}

#menu .bloco-categoria .menu-categoria .sessao-categoria{
	width: auto;
	vertical-align: top;
	color: #fff;
	display: inline-block;
	margin-right: 30px;
}

#menu .bloco-categoria .menu-categoria .sessao-categoria ul{
	display: inline-block;
	list-style: none;
	padding-left: 20px;
}

#menu .bloco-categoria .menu-categoria .sessao-categoria ul > li{
	display: block;
}

#menu .bloco-categoria .menu-categoria .sessao-categoria ul > li > input{
	vertical-align: top;
}

#menu.menu-horizontal .bloco-categoria:after,
#menu.menu-vertical .bloco-categoria:after{
	content: " ";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	opacity: 0;
	z-index: 10;
}

#menu.menu-horizontal .bloco-categoria:after{
	left: 50%;
	margin-left: -15px;
}

#menu.menu-horizontal.top .bloco-categoria:after{
	bottom: 10px;
	border-width: 10px 15px 0 15px;
	border-color: #fff transparent transparent transparent;
	-webkit-transition: bottom 0.3s, opacity 0.3s;
	transition: bottom 0.3s, opacity 0.3s;
}

#menu.menu-horizontal.bottom .bloco-categoria:after{
	top: -10px;
	border-width: 0 15px 10px 15px;
	border-color:  transparent transparent #fff transparent;
	-webkit-transition: top 0.3s, opacity 0.3s;
	transition: top 0.3s, opacity 0.3s;
}

#menu.menu-horizontal.top .bloco-categoria.on:after{
	bottom: -10px;
}

#menu.menu-horizontal.bottom .bloco-categoria.on:after{
	top: -10px;
}

#menu.menu-vertical .bloco-categoria:after{
	top: 50%;
	margin-top: -15px;
}

#menu.menu-vertical.right .bloco-categoria:after{
	left: 10px;
	border-width: 15px 10px 15px 0px;
	border-color: transparent #fff transparent transparent;
	-webkit-transition: left 0.3s, opacity 0.3s;
	transition: left 0.3s, opacity 0.3s;
}

#menu.menu-vertical.left .bloco-categoria:after{
	right: 10px;
	border-width: 15px 0 15px 10px;
	border-color: transparent transparent  transparent #fff;
	-webkit-transition: right 0.3s, opacity 0.3s;
	transition: right 0.3s, opacity 0.3s;
}

#menu.menu-vertical.right .bloco-categoria.on:after{
	left: -10px;
}

#menu.menu-vertical.left .bloco-categoria.on:after{
	right: -10px;
}

#menu .bloco-categoria.on:after{
	opacity: 1;
}

/*==========================================================*/

/*= MAPA ===================================================*/

#mapa{
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/*==========================================================*/


/*= FOOTER =================================================*/

#footer{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	position: absolute;
	width: 100%;
	height: 30px;
	padding: 5px 10px;
	background-color: #183b78;
	z-index: 3;
	bottom: 0;
	color: #fff;
}

#footer .footer-element{
	max-height: 100%;
}

#footer .footer-element img{
	height: 100%;
	vertical-align: top;
	margin-right: 5px;
}

/*==========================================================*/

::-webkit-scrollbar-track{
    background-color: #adcbe3;
}
::-webkit-scrollbar-thumb{
    background-color: #2a4d69;
}
::-webkit-scrollbar{ 
	width: 10px; 
}

@media screen and (max-width: 580px){
    ::-webkit-scrollbar{ 
        width: 5px; 
    }
}


/*= CATEGORIAS ESTILO =======================================*/

.s-obras{
	background-color: #005b96;
	color: #005b96;
}
.s-equipamentos{
	background-color: #aaaaaa;
	color: #aaaaaa;
}
.s-servicos{
	background-color: #dc6900;
	color: #dc6900;
}
.s-servicos-privados{
	background-color: #337ab7;
	color: #dc6900;
}
.s-conectividade{
	background-color: #7bc043;
	color: #7bc043;
}
.s-transporte{
	background-color: #5588ff;
	color: #5588ff;
}
.s-hospedagem{
	background-color: #b62020;
	color: #b62020;
}
.s-orgaos{
	background-color: #794044;
	color: #794044;
}

/*==========================================================*/

/*= DROPPABLE ==============================================*/

.draggable{
	position: relative;
	z-index: 1001;
}

.droppable{
	position: absolute;
	border: 1px dotted #ccc;
	z-index: 50;
	background-color: rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.elementOnDragHover{
	background-color: rgba(123, 192, 67, 0.3);
}

.droppable.on{
	opacity: 1;
}

.elementOnDrag{
	width: 100px !important;
	height: 30px !important;
	padding: 0 !important;
	background-color: rgb(24, 59, 120) !important;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) !important;
}

.elementOnDrag *{
	display: none !important;
}

.droppable.top, .droppable.bottom{
	width: 100%;
	height: 98px;
	border: 1px dotted #ccc;
	left: 0;
}

.droppable.left, .droppable.right{
	width: 170px;
	height: 100%;
	top: 0;
}

.droppable.top{
	top: 33px;
	z-index: 53;
}

.droppable.bottom{
	bottom: 30px;
	z-index: 51;
}

.droppable.left{
	left:0;
	z-index: 50;	
}

.droppable.right{
	right: 0;
	z-index: 52;
}

/*==========================================================*/
