<!DOCTYPE html>
<html>
<head>
	<title>Geo Parnamirim</title>
	<meta charset="utf-8">
	
	
</head>

<body>
	<div id="all" class="container-fluid tag-css">
		<div class="row">
			<div id="cabecalho">
           		<div class="logo-wrapper">
           			<a href="http://www.parnamirim.rn.gov.br/"><img src="../../assets/portal/img/brasao.png" alt="" class="logo"></a>
           		</div>
				<h6 class="title">GEO Parnamirim</h6>
			</div>

			<div id="main">
				<div class="droppable top ui-widget-header"></div>
				<div class="droppable right ui-widget-header"></div>
				<div class="droppable bottom ui-widget-header"></div>
				<div class="droppable left ui-widget-header"></div>

				<div id="menu" class="menu-horizontal top draggable ui-widget-content">
					<div class="bloco-categoria s-obras" title="Clique para abrir!">
						<img src="../../assets/portal/img/categorias/obras.png" />
						<label>Obras</label>
						<div class="menu-categoria">
							<div class="sessao-categoria">
									<!-- <li ng-repeat = "tipo in ctrl.tipos" ng-show="tipo.categoria.id == 1"><input ng-click = "ctrl.filtro(tipo)" " type="checkbox" name="">{{tipo.nome}}</li> -->
								<h4>Categorias</h4>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								
							</div>
							<div class="sessao-categoria">
								<h4>Situação</h4>
								<ul>
									<li><input type="checkbox" name=""> Previsto</li>
									<li><input type="checkbox" name=""> Em andamento</li>
									<li><input type="checkbox" name=""> Concluído</li>	
								</ul>
							</div>	
						</div>
					</div>
					<div class="bloco-categoria s-equipamentos" title="Clique para abrir!">
						<img src="../../assets/portal/img/categorias/equipamentos.png" />
						<label>Equipamentos</label>
						<div class="menu-categoria">
							<div class="sessao-categoria">
									<!-- <li ng-repeat = "tipo in ctrl.tipos" ng-show="tipo.categoria.id == 2"><input  ng-click = "ctrl.filtro(tipo)" type="checkbox" name="">{{tipo.nome}}
									</li> -->
								<h4>Categorias</h4>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								
							</div>
							<div class="sessao-categoria">
								<h4>Situação</h4>
								<ul>
									<li><input type="checkbox" name=""> Previsto</li>
									<li><input type="checkbox" name=""> Em andamento</li>
									<li><input type="checkbox" name=""> Concluído</li>	
								</ul>
							</div>
						</div>	
					</div>
					<div class="bloco-categoria s-servicos" title="Clique para abrir!">
						<img src="../../assets/portal/img/categorias/servicos.png" />
						<label>Serviços Públicos</label>
						<div class="menu-categoria">
							<div class="sessao-categoria">
									<!-- <li ng-repeat = "tipo in ctrl.tipos" ng-show="tipo.categoria.id == 3"><input  ng-click = "ctrl.filtro(tipo)" type="checkbox" name="">{{tipo.nome}}</li> -->
							<h4>Categorias</h4>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								
							</div>
							<div class="sessao-categoria">
								<h4>Situação</h4>
								<ul>
									<li><input type="checkbox" name=""> Previsto</li>
									<li><input type="checkbox" name=""> Em andamento</li>
									<li><input type="checkbox" name=""> Concluído</li>	
								</ul>
							</div>	
						</div>	
					</div> 
					<div class="bloco-categoria s-servicos-privados" title="Clique para abrir!">
						<img src="../../assets/portal/img/categorias/servicos.png" />
						<label>Serviços Privados</label>
						<div class="menu-categoria">
							<div class="sessao-categoria">
									<!-- <li ng-repeat = "tipo in ctrl.tipos" ng-show="tipo.categoria.id == 4"><input  ng-click = "ctrl.filtro(tipo)" type="checkbox" name="">{{tipo.nome}}</li> -->
								<h4>Categorias</h4>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								
							</div>
							<div class="sessao-categoria">
								<h4>Situação</h4>
								<ul>
									<li><input type="checkbox" name=""> Previsto</li>
									<li><input type="checkbox" name=""> Em andamento</li>
									<li><input type="checkbox" name=""> Concluído</li>	
								</ul>
							</div>	
						</div>	
					</div> 
					<div class="bloco-categoria s-conectividade" title="Clique para abrir!">
						<img src="../../assets/portal/img/categorias/conectividade.png" />
						<label>Conectividade</label>
						<div class="menu-categoria">
							<div class="sessao-categoria">
								<!-- <li ng-repeat = "tipo in ctrl.tipos" ng-show="tipo.categoria.id == 5"><input  ng-click = "ctrl.filtro(tipo)" type="checkbox" name="">{{tipo.nome}}</li> -->
								<h4>Categorias</h4>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
							</div>
							<div class="sessao-categoria">
								<h4>Situação</h4>
								<ul>
									<li><input type="checkbox" name=""> Previsto</li>
									<li><input type="checkbox" name=""> Em andamento</li>
									<li><input type="checkbox" name=""> Concluído</li>	
								</ul>
							</div>
						</div>	
					</div>
					<div class="bloco-categoria s-transporte" title="Clique para abrir!">
						<img src="../../assets/portal/img/categorias/transporte.png" />
						<label>Transporte</label>
						<div class="menu-categoria">
							<div class="sessao-categoria">
							<!-- 	<li ng-repeat = "tipo in ctrl.tipos" ng-show="tipo.categoria.id == 6"><input ng-click = "ctrl.filtro(tipo)" type="checkbox" name="">{{tipo.nome}}</li> -->
								<h4>Categorias</h4>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
							</div>
							<div class="sessao-categoria">
								<h4>Situação</h4>
								<ul>
									<li><input type="checkbox" name=""> Previsto</li>
									<li><input type="checkbox" name=""> Em andamento</li>
									<li><input type="checkbox" name=""> Concluído</li>	
								</ul>
							</div>
						</div>	
					</div>
					<div class="bloco-categoria s-hospedagem" title="Clique para abrir!">
						<img src="../../assets/portal/img/categorias/hospedagem.png" />
						<label>Hospedagem</label>
						<div class="menu-categoria">
							<div class="sessao-categoria">
									<!-- <li ng-repeat = "tipo in ctrl.tipos" ng-show="tipo.categoria.id == 7"><input ng-click = "ctrl.filtro(tipo)" type="checkbox" name="">{{tipo.nome}}</li> -->
								<h4>Categorias</h4>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
							</div>
							<div class="sessao-categoria">
								<h4>Situação</h4>
								<ul>
									<li><input type="checkbox" name=""> Previsto</li>
									<li><input type="checkbox" name=""> Em andamento</li>
									<li><input type="checkbox" name=""> Concluído</li>	
								</ul>
							</div>
						</div>	
					</div>
					<div class="bloco-categoria s-orgaos" title="Clique para abrir!">
						<img src="../../assets/portal/img/categorias/orgaos.png" />
						<label>Órgãos</label>
						<div class="menu-categoria">
							<div class="sessao-categoria">
									<!-- <li ng-repeat = "tipo in ctrl.tipos" ng-show="tipo.categoria.id == 8"><input ng-click = "ctrl.filtro(tipo)" type="checkbox" name="">{{tipo.nome}}</li> -->
								<h4>Categorias</h4>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
								<ul>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
									<li><input type="checkbox" name=""> Biblioteca</li>
								</ul>
							</div>
							<div class="sessao-categoria">
								<h4>Situação</h4>
								<ul>
									<li><input type="checkbox" name=""> Previsto</li>
									<li><input type="checkbox" name=""> Em andamento</li>
									<li><input type="checkbox" name=""> Concluído</li>	
								</ul>
							</div>	
						</div>	
					</div>	
				</div>
				<!-- --------- Mapa ----------_> -->
				<div id="mapa">
						<ng2-map 
						  zoom="13" 
						  center="37.775, -122.434" 
						  style="height: 100%">

						    <marker  draggable="true" (click)="clicked($event)" > 
						      	
						    </marker>

						    <info-window id="iw">
      							lat: [[lat]], lng: [[lng]]
    						</info-window>

						</ng2-map>
				</div>	
				<!---------------------------------->
			</div>
			<div id="footer">
				<div class="footer-element">
					<img src="../../assets/portal/img/logo-gcti.png">
					<label>GCTI - Grupo de Cîência e Tecnologia de Informação</label>
				</div>
				<div class="footer-element">
					<img src="../../assets/portal/img/brasao.png">
					<label>Prefeitura de Parnamirim</label>
				</div>
			</div>		
		</div>
	</div>


</body>

